.logoName {
    max-height: 20px;
    margin-left: 10px;
}

.logo {
    max-height: 50px;
}

.logoWrapper {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

header {
    background-color: #fcf0f3;
    display: flex;
    justify-content: space-around;
}