.footer {
  background-color: #fcf0f3;
  //background-color: #fdf5f7;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;

  a {
    text-decoration: none;
  }

  .footer__content {
    width: 750px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    .description {
      display: flex;
      justify-content: space-evenly;

      @media (max-width: 767px) {
        flex-direction: column;
      }

      .owner, .social {
        margin: 15px 30px 0;

        a {

        }

        @media (max-width: 767px) {
          margin: 10px 0 0;
          p {
            margin-bottom: 0;
          }
        }
      }
      .social {
        //img {
        //  width: 30px;
        //}
        //img:after {
        //  background-color: rgba(0, 0, 0, 0.5);
        //}
        &__instagram {

        }
        @media (max-width: 767px) {
          a {
            margin: 0 10px;
          }
        }
      }
      a {
        //color: darkgoldenrod;
      }
      a:hover {
        //color: goldenrod;
      }
    }

    .description__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;

      @media (max-width: 767px) {
        margin-top: 15px;
      }

        .copy {
        p {
          margin-bottom: 0;
        }
      }

      .coder {

      }
    }
  }
}
