.nav {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: flex-end;
}

ul {
    margin-bottom: 0 !important;
}

ul li {
    list-style-type: none;
}

.list {
    display: flex;
}

.nav__item {
    margin: 2px;
}

.nav a {
    padding: 0 5px;
    text-decoration: none;
    color: black;
    margin: 0 5px;
    font-size: 18px;
}

.nav a:hover, .nav a.active:hover {
    color: goldenrod;
}

.nav a:active, .nav a.active {
    color: darkgoldenrod;
}

.nav a:focus {
    outline: none;
}
